<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  


</head>
<body>

  <div class="content">
    <form action="http://127.0.0.1:5000/signup" method="post">
      <center>
        <div class="column">
          <div class="row">
            <H1>Sign Up Here</H1>

          </div>
          <br>
           <div class="row">
            <label for="text">First Name</label>
            <input type="text" required="true" name="firstname" id="firstname" placeholder="firstname">

          </div>
          <br>
           <div class="row">
            <label for="text">Last Name</label>
            <input type="text" required="true" name="lastname" id="lastname" placeholder="lasttname">

          </div>
          <br>
          <div class="row">
            <label for="email">Enter Email</label>
            <input type="email" required="true" name="email" id="email" placeholder="email">
          </div>
          <br>
          <div class="row">
            <label for="password">Password</label>
            <input type="password" required="true" name="password" id="password" placeholder="password">

          </div>
          <br>
          <div class="row">
            <label for="password">Password</label>
            <input type="password" required="true" name="password" id="confirm password" placeholder="confirm password">

          </div>
          <br>

          <div class="row">
            <button>Sign Up</button>
          </div>
        </div>

      </center>

    </form>
  </div>


</body>
</html>

